body{
    margin: 0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    
}

.global-header{
    background-color: #22356d;
    padding: 15px;
    align-items: center;
    display: flex;
    font-family: 'Rubik', sans-serif;
    color: rgb(136, 233, 250);
   
}

.block-player{
    display: block;

    
}

.block-title{
    display: flex;
    background-color: darkgray ;
    align-items: center;
    justify-content: space-between;
}

.block-title-left{
    display: flex;
    padding-left: 15px;
}

.block-title-right{
    padding-right: 15px;
}


.player-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    padding: 5px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.player-list-reserva{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    padding: 5px;

}

.player-list-reserva li{
    background-color: rgba(255, 0, 0, 0.227);
    box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
}

.player-card{
    font-weight: 720;
    color: #22356d;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
    box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
}

.player-card-reserva{
    font-weight: 720;
    color: #22356d;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
    background-color: rgba(255, 0, 0, 0.227);
    box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
}

.player-header{
    display: flex;
    align-items: center;
}

.player-ranking{
    font-size: xxx-large;
    
}

.player-name{
    font-size: smaller;
}

.player-photo img{
    margin-left: 10px;
    border-radius: 50%;
    border-color:rgb(136, 233, 250);
    border-style: solid;
    border-width: 5px;

}

.player-footer{
    margin-top: 5px;
    margin-left: 0;
    background-color:rgb(136, 233, 250) ;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-country img{
    border-radius: 20%;
}
.player-score{

    margin-right: 2.5px;
}

.trophie{
    align-items: center;
}