body{
    margin: 0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    
}

.global-header{
    background-color: #22356d;
    padding: 15px;
    align-items: center;
    display: flex;
    font-family: 'Rubik', sans-serif;
    color: rgb(136, 233, 250);
   
}

.block-player{
    display: block;

    
}

.block-title{
    display: flex;
    background-color: rgb(227, 224, 224) ;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 9px -5px rgba(204,202,204,1);

}

.block-title-left{
    display: flex;
    padding-left: 15px;
}

.block-title-right{
    padding-right: 15px;
}


.player-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    padding: 5px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.player-list-reserva{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    padding: 5px;

}

.player-list-reserva li{
    background-color: rgba(255, 0, 0, 0.227);
    box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
}

.player-card{
    font-weight: 720;
    color: #22356d;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
    box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
}

.player-card-reserva{
    font-weight: 720;
    color: #22356d;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
    background-color: rgba(255, 0, 0, 0.227);
    box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
box-shadow: -1px 10px 14px -17px rgba(0,0,0,0.75);
}

.player-header{
    display: flex;
    align-items: center;
}

.player-ranking{
    font-size: xxx-large;
    
}

.player-name{
    font-size: 10px;
}

.player-photo img{
    margin-left: 10px;
    border-radius: 50%;
    border-color:rgb(136, 233, 250);
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: auto;

}

.player-footer{
    margin-top: 5px;
    margin-left: 0;
    background-color:rgb(136, 233, 250) ;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-country img{
    border-radius: 20%;
}
.player-score{

    margin-right: 2.5px;
}

.trophie{
    align-items: center;
}

.block-profile{
    background-color: rgb(136, 233, 250);
    width: 280px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-shadow: 3px -2px 20px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -2px 20px -10px rgba(0,0,0,0.75);
box-shadow: 3px -2px 20px -10px rgba(0,0,0,0.75);
}

.block-profile-up{
    background-color: white;
    margin: 5px;
    width: 270px;
    height: 110px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}


.profile-name h3{
    text-align: center;
    color: #22356d;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    

}

.name-ranking-profile{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -30px;

}

.name-ranking-profile h3{
    text-align: center;
    color: #22356d;
    width: 50px;

    
}

.name-ranking-profile h5{
    text-align: center;
    color: #22356d;
    width: 50px;
}
.profile-img{

    border-radius: 50%;
    border-color:rgb(136, 233, 250);
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: auto; /* foto con border = 110x110px*/

}

.block-profile-down{
    width: 270px;
    margin-left: 5px;
    height:auto;
    background-color:  rgb(240, 240, 240);
    margin-top: 5px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.block-player-stats{
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.player-stats{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.player-stats li{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 3px -2px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -2px 20px -10px rgba(0,0,0,0.75);
    box-shadow: 3px -2px 20px -10px rgba(0,0,0,0.75);
}

.player-stats li span{
    color: #363535;
    font-weight: 550;
    font-size: medium;
    text-transform: none;
    padding: 5px 15px 5px 15px;

}